.list
{
    padding: 0;
    list-style-type: none;
}
a:focus
{
text-decoration: none;
}
.card-row-title
{
	font-weight: 600;
}
#database
{
	/* Hide template*/
	display:none;
}
/*.description
{
	overflow: hidden;
    text-overflow: ellipsis;
}*/