.list{
    padding: 0;
    list-style-type: none;
}
a:focus{
	text-decoration: none;
}
.card-row-title{
	font-weight: 600;
}
#databaseitem{
	/* Hide template*/
	display:none;
}
.btn{
	margin-left: 3px;
	background-color:#494949;
	margin-top: 3px;
	color:#fff;
}
#reset-button-id{
	background-color:#205699;
	color:#fff;
	padding: 9px 15px;
	border-radius:18.6px;
	text-align:center;
	margin-top: 3px;
	margin-bottom: 3px;
    white-space: nowrap;
    overflow: visible;
    -webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
#reset-button-id .fa{
	color: #fff;
}
#reset-button-id:hover{
	background-color:#3068ad;
	color: #fff;
}
#reset-button-id::selection{
	color: #fff !important;
}
.btn:hover{
	background-color:#5b5b5b;
	color:#fff;
}
.form-control,.selectize-input{
	border-color:#999 !important;
}
#loader p {
	font-size:26px;
	font-weight:400;
	color:#009f8b;
	text-align: center;
	line-height: 60px;
}
.pager .disabled, .pager .disabled > a{
	cursor: default !important;
}
#home:hover,#home:active{
	color:#b6dce9;
}
#home{
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	transition: color 0.1s linear;
}
#reset-button-id::selection{
	background-color:transparent;
	color:rgba(0,0,0,0.7);
}
.filter-actions{
	height:37px;
}
#back-top{
	height:60px;
	width:60px;
	position:fixed;
	bottom:20px;
	right:20px;
	background-color:rgba(16, 128, 188, 0.6);
	display:block;
	z-index:999;
	text-align:center;
	border-radius:30px;
	-webkit-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}
#back-top i{
	color:#fff;
	margin:0;
	position: relative;
	top:20px;
	font-size:15px;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#back-top:hover i{
	top:8px;
}
#back-top:hover{
	background-color:rgba(16, 128, 188, 0.9);
}
#back-top:active{
	background-color:rgba(14, 110, 170, 0.9);
}
.list div:hover{
	background-color:#FAFDFE;
}
.list div{
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}
.card-row-properties dd{
	margin-right:8px;
}
.website, .email{
	word-wrap: break-word;
	word-break: break-all;
}
dt span.departments{
	line-height: 1.42857;
}
dt span.departments > span{
	display:block;
	padding-top:9.5px;
	padding-bottom:9.5px;
}

/* Pure CSS truncation */
/* kudos to Natlia Onischuk */
/* http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
.truncateme{
	overflow:hidden;
	position:relative;
	line-height:1.6em;
	/*max-height:6.4em;*/
	text-align:justify;
	margin-right:-1em;
	padding-right:1em;
}
.truncateme-active{
	max-height:6.4em;
}
.truncateme:before{
	content:'...';
	position:absolute;
	right:0;
	bottom:0;
	font-weight:600;
}
.truncateme:hover:before{
	font-weight:900;
	color:#009f8b;
}
.truncateme:after{
	content:'';
	position:absolute;
	right:0;
	width:1em;
	height:1em;
	margin-top:0.5em;
	background:white;
}
.nav>li>a:focus{
	background-color:transparent;
}