/* Custom additional CSS for listings page */

.list{
    padding: 0;
    list-style-type: none;
}
a:focus{
	text-decoration: none;
}
.card-row-title{
	font-weight: 600;
}
#databaseitem{
	/* Hide template*/
	display:none;
}
.sort.btn{
	margin-left: 3px;
	background-color:#606060;
	margin-top: 3px;
	color:#fff;
}
#reset-button-id{
	background-color:#205699;
	color:#fff;
	padding: 9px 15px;
	border-radius:18.6px;
	text-align:center;
	margin-top: 3px;
	margin-bottom: 3px;
    white-space: nowrap;
    overflow: visible;
    -webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
#reset-button-id .fa{
	color: #fff;
}
#reset-button-id:hover{
	background-color:#3068ad;
	color: #fff;
}
#reset-button-id::selection{
	color: #fff !important;
}
.sort.btn:hover{
	background-color:#757575;
	color:#fff;
}
.form-control,.selectize-input{
	border-color:#ccc !important;
}
#loader p {
	font-size:26px;
	font-weight:400;
	color:#009f8b;
	text-align: center;
	line-height: 60px;
}
/*.pager.floatpager{
	position: fixed;
    bottom: 0;
    right: 0;
	background-color:rgba(120,120,120,0.5);
	width:100%;
	min-height:60px;
	margin:0;
	padding:10px;
	z-index:990;
	opacity:0.5;
	-webkit-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}
.pager:hover{
	opacity:1;
}*/
.pager{
	margin-top:30px;
}
.pager ul{
	margin-top: 6px;
}
@media (max-width: 470px){
	.pager ul{
		display:block;
	}
}
.pager .disabled, .pager .disabled > a{
	cursor: default !important;
}
.pager a::selection, .pager span::selection, #prev::selection, #next::selection, .pager::selection{
	background:transparent !important;
	color:inherit;
}
.pager .pagination li > a{
	padding:4px 6px;
	width:30px;
	border:solid 1px #ddd;
	margin:-1px 0 0 -1px;
}
#home:hover,#home:active{
	color:#b6dce9;
}
#home{
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	transition: color 0.1s linear;
}
#reset-button-id::selection{
	background-color:transparent;
	color:rgba(0,0,0,0.7);
}
.filter-actions{
	height:37px;
}
#back-top{
	height:60px;
	width:60px;
	position:fixed;
	bottom:20px;
	right:20px;
	background-color:rgba(16, 128, 188, 0.6);
	display:block;
	z-index:999;
	text-align:center;
	border-radius:30px;
	-webkit-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}
#back-top i{
	color:#fff;
	margin:0;
	position: relative;
	top:20px;
	font-size:15px;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#back-top:hover i{
	top:8px;
}
#back-top:hover{
	background-color:rgba(16, 128, 188, 0.9);
}
#back-top:active{
	background-color:rgba(14, 110, 170, 0.9);
}
.list div:hover{
	background-color:#FAFDFE;
}
.list div{
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}
.card-row-properties dd{
	margin-right:8px;
}
.website, .email{
	word-wrap: break-word;
	word-break: break-all;
}
dt span.departments, .email, .website{
	line-height: 1.42857;
}
dt span.departments > span, .email, .website{
	display:block;
	padding-top:9.5px;
	padding-bottom:9.5px;
}
#prev,#next{
	width:60px;
	margin:3px auto;
	height:35px;
	background-color:#008675;
	border-radius:17.5px;
	cursor:pointer;
	color:#fff;
	display:inline-block;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	text-align:center;
	white-space:nowrap;
}
#prev .fa,#next .fa{
	color:#fff;
	font-size:15px;
	padding:10px;
}
span#prev{
	margin-right:3%;
}
span#next{
	margin-left:3%;
}
span#prev:hover,span#next:hover{
	background-color:#009f8b;
}
span#prev::selection,span#next::selection{
	background-color:transparent;
}
.pager li > a{
	border-radius:0px;
	border:none;
}
.pager li{
	margin:0;
	display:inline-block;
}
.pager .disabled a,.pager .disabled a:hover{
	background:#fff;
}

/* Pure CSS truncation */
/* kudos to Natlia Onischuk */
/* http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
.truncateme{
	overflow:hidden;
	position:relative;
	line-height:1.6em;
	text-align:justify;
	margin-right:-1em;
	padding-right:1em;
}
.truncateme-active{
	max-height:6.4em;
}
.truncateme:before{
	content:'...';
	position:absolute;
	right:0;
	bottom:0;
	font-weight:600;
}
.truncateme:hover:before{
	font-weight:900;
	color:#009f8b;
}
.truncateme:after{
	content:'';
	position:absolute;
	right:0;
	width:1em;
	height:1em;
	margin-top:0.5em;
	background:white;
}
.nav>li>a:focus{
	background-color:transparent;
}