/* Custom additional CSS for homepage */

/* General layout */
@media (max-width: 330px){
    .hero-image-content{
        top:75px !important;
    }
}

/* General text */
body{
    font-size: 18px;
}
p{
    line-height: 30px;
}
h1{
    font-size: 34px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
    font-weight: 500;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 21px;
}
h6{
    font-size: 20px;
}
.page-header p{
    font-size: 18px;
}

/* Buttons */
.btn{
    margin-top:2px;
    margin-bottom:2px;
}
.btn-secondary{
    background-color: #1080bc;
}
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover{
    background-color: #0f74aa !important;
}
.background-secondary,.faq-item:before{
    background-color: #0f74aa;
}

/* Testimonials block */
#testimonial-page{
    padding-top:30px;
}
#testimonials-item footer>p{
    color:#1080bc;
}
#testimonial-page>.page-header{
    margin-bottom: 0px;
}
#testimonial-page footer p{
    font-size:18px;
}
#testimonial-page cite{
    margin-top:5px;
    font-size:15px;
    color:#bbb;
}

/* Feedback block */
.contact-info-item a:hover i{
    background-color:rgba(255,255,255,0.2);
}
.contact-info-item a i{
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

/* FAQs block */
.faq-item:after{
    border-bottom-color: #0f74aa;
}
.faq-item-question h3{
    font-size:25px;
    margin: 0px;
    padding: 0px;
}

/* Back-to-top button */
#back-top{
    height:60px;
    width:175px;
    position:fixed;
    bottom:20px;
    right:20px;
    background-color:rgba(16, 128, 188, 0.6);
    display:block;
    z-index:999;
    text-align:center;
    border-radius:30px;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
#back-top span{
    color:#fff;
    font-size:18px;
    text-align:left;
    line-height:60px;
    display:inline-block;
    margin:0;
    padding:0;
}
#back-top i{
    color:#fff;
    margin:0 10px 0 0;
    position: relative;
    top:-2px;
    font-size:15px;
    display:inline-block;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#back-top:hover i{
    top:-12px;
}
#back-top:hover{
    background-color:rgba(16, 128, 188, 0.9);
}
#back-top:active{
    background-color:rgba(14, 110, 170, 0.9);
}

/* Bottom nav */
.nav>li>a:focus{
    background-color:transparent;
}
