/* Holidays special theme styles */

#holidays .background-secondary {
    background-color: #531814;
}

#holidays .contact-info .fa {
    background-color: #832E2B;
}

#holidays .background-black-light {
    background-color: #183B11;
}

#holidays .faq-item:before {
    border-color: #09890B #fff;
}

#holidays .footer-top {
    background-color: #1C401B;
}

#holidays .footer-bottom {
    background-color: #10300F;
}

#holidays #testimonial-page footer p {
    color: #6D2323;
}

#holidays .footer-bottom .nav > li > a:hover,
#holidays #invitefeedback,
#holidays #loader p {
    color: #076708;
}

#holidays #back-top,
#holidays .box .box-icon,
#holidays #reset-button-id{
    background-color: #185D19;
}

#holidays .btn-primary {
    background-color: #2A7A35 !important;
}

#holidays .btn-secondary,
#holidays .pager li a:hover {
    background-color: #8F382B !important;
}

#holidays #rdbcontent #hr a,
#holidays .post-content a,
#holidays .faq-item a {
    color: #367C32;
}

#holidays #rdbcontent #hr .name:after {
    background: url('../img/snowman.png') no-repeat 0 0;
    background-size: 100%;
    content: '';
    width: 25px;
    height: 25px;
    margin-left: 8px;
    margin-bottom: -7.5px;
    display: inline-block;
}
