.document-title .breadcrumb a{
	font-size: 24px;
	color:#aaa;
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	transition: color 0.1s linear;
}
.document-title .breadcrumb a:hover{
	color:#72c6f3;
}
.nav>li>a:focus{
	background-color:transparent;
}